.ruby-theme{
    
}

.ruby-header{    
    background-color: #c7211b;
    margin-bottom: 20px;
}

.ruby-header a{
    color: white;
    line-height: 40px;
}

.ruby-header a:hover{
    text-decoration: none;
}

.profiles{

}

.profiles .profile-item{
    margin-bottom: 20px;
}